*{
    margin:0;
    padding: 0px;
  }
  
  body{
    width: 100%;
    height: 100vh;
    background-image: url(../view/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  
  .container{
    max-width: 1280px;
    margin: 0 auto;
  }
  
  form{
    background-color: #531010;
    opacity: 85%;
    max-width: 500px;
    height: 430px;
    padding: 100px;
    border-radius: 20px;
  
  }
  
  form h1{
    text-align: center;
    color:bisque;
  
  }
  
  .input-single{
    position: relative;
    margin: 27px 0;
  }
  
  .input-single label{
    left: 0;
    bottom: 5px;
    color:aliceblue;
    min-width: 60px;
  
  }
  
  button{
    width: 100%;
    text-align: center;
    padding:10px 40px;
    border:0;
    border-radius: 10px;
    background-color: bisque;
    cursor: pointer;
  }
  .link{
    text-align: center;
    padding: 27px;
  }

  .lista{
    color:bisque;
  }

  .lista:visited{
    color:bisque;
  }
