<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='icon' type="image/icon" href="../view/S.png">
  <title>Catálogo de Livros</title>
  <link rel='stylesheet' type='text/css' media='screen' href='../css/catalogo.css'>
</head>
<body>


  <h1>Catálogo de Livros</h1>


  <div class="container">
    <div class="book">
      <img src="https://harpercollins.com.br/cdn/shop/products/9786555113631_79a81e4f-07c1-4aa8-ba58-b44033442bbf.jpg?v=1686061056" width="150px", height="200px" alt="Capa do Livro 1">
      <h2>O Senhor dos Anéis</h2>
      <p>Em uma terra fantástica e única, um hobbit recebe de presente de seu tio um anel mágico e maligno que precisa ser destruído antes que caia nas mãos do mal. 
        Para isso, o hobbit Frodo tem um caminho árduo pela frente, onde encontra perigo, medo e seres bizarros. Ao seu lado para o cumprimento desta jornada, ele aos poucos pode contar com 
        outros hobbits, um elfo, um anão, dois humanos e um mago, totalizando nove seres que formam a Sociedade do Anel.</p>
    </div>


    <div class="book">
      <img src="https://m.media-amazon.com/images/I/61jgm6ooXzL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 2">
      <h2>Harry Potter e a Pedra Filosofal</h2>
      <p>Harry Potter é um garoto órfão que vive infeliz com seus tios, os Dursleys. Ele recebe uma carta contendo um convite para ingressar em Hogwarts, uma famosa escola especializada em 
        formar jovens bruxos. Inicialmente, Harry é impedido de ler a carta por seu tio, mas logo recebe a visita de Hagrid, o guarda-caça de Hogwarts, que chega para levá-lo até a escola. 
        Harry adentra um mundo mágico que jamais imaginara, vivendo diversas aventuras com seus novos amigos, Rony Weasley e Hermione Granger.</p>
    </div>


    <div class="book">
      <img src="https://m.media-amazon.com/images/I/61Z2bMhGicL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 3">
      <h2>Dom Casmurro</h2>
      <p>Em Dom Casmurro, o narrador Bento Santiago retoma a infância que passou na Rua de Matacavalos e conta a história do amor e das desventuras que viveu com Capitu, 
        uma das personagens mais enigmáticas e intrigantes da literatura brasileira. Nas páginas deste romance, encontra-se a versão de um homem perturbado pelo ciúme, que revela aos poucos sua 
        psicologia complexa e enreda o leitor em sua narrativa ambígua acerca do acontecimento ou não do adultério da mulher com olhos de ressaca, uma das maiores polêmicas da literatura brasileira.</p>
    </div>


    <div class="book">
      <img src="https://m.media-amazon.com/images/I/819js3EQwbL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 4">
      <h2>1984</h2>
      <p>Winston, herói de 1984, último romance de George Orwell, vive aprisionado na engrenagem totalitária de uma sociedade completamente dominada pelo Estado, onde tudo é feito coletivamente, mas 
        cada qual vive sozinho. Ninguém escapa à vigilância do Grande Irmão, a mais famosa personificação literária de um poder cínico e cruel ao infinito, além de vazio de sentido histórico. De fato,
        a ideologia do Partido dominante em Oceânia não visa nada de coisa alguma para ninguém, no presente ou no futuro. O'Brien, hierarca do Partido, é quem explica a Winston que "só nos interessa
        o poder em si. Nem riqueza, nem luxo, nem vida longa, nem felicidade: só o poder pelo poder, poder puro".
        Quando foi publicada em 1949, essa assustadora distopia datada de forma arbitrária num futuro perigosamente próximo logo experimentaria um imenso sucesso de público. </p>
    </div>


    <div class="book">
      <img src="https://m.media-amazon.com/images/I/81fXBeYYxpL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 5">
      <h2>O Pequeno Príncipe</h2>
      <p> Um piloto cai com seu avião no deserto e ali encontra uma criança loura e frágil. Ela diz ter vindo de um pequeno planeta distante. 
        E ali, na convivência com o piloto perdido, os dois repensam os seus valores e encontram o sentido da vida.</p>
    </div>


    <div class="book">
      <img src="https://m.media-amazon.com/images/I/81Ylg3mdxGL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 6">
      <h2>O Caçador de Pipas</h2>
      <p>Enquanto cresciam em Kabul, Amir e Hassan eram amigos inseparáveis. Quando adulto, vivendo na Califórnia, 
        Amir é perseguido por uma traição contra Hassan cometida durante um incidente na infância. 
        Quando ele descobre que o Taliban assassinou Hassan e sua esposa, Amir retorna a sua terra natal, para achar o filho do casal.</p>
    </div>


    <div class="book">
      <img src="https://m.media-amazon.com/images/I/61Fo3CitEGL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 7">
      <h2>A Menina Que Roubava Livros</h2>
      <p>Durante a Segunda Guerra Mundial, uma jovem garota chamada Liesel Meminger sobrevive fora de Munique lendo os livros que ela rouba. Ajudada por seu pai adotivo, ela aprende a ler
        e partilhar livros com seus amigos, incluindo um judeu que vive na clandestinidade em sua casa. Enquanto não está lendo ou estudando, ela faz algumas tarefas para a mãe e brinca 
        com o amigo Rudy.</p>
    </div>

    <div class="book">
      <img src="https://m.media-amazon.com/images/I/71zOuyMy7qL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 8">
      <h2>Mil Beijos de Garoto</h2>
      <p>Quando, aos dezessete anos, Rune Kristiansen retorna da Noruega para o lugar onde passou a infância, ele só tem uma coisa em mente:
        reencontrar Poppy Litchfield, a garota que era sua cara-metade e que tinha prometido esperar fielmente por seu retorno.</p>
    </div>




    <div class="book">
      <img src="https://m.media-amazon.com/images/I/71Xta4Nf7uL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 9">
      <h2>Orgulho e Preconceito</h2>
      <p>Elizabeth Bennet vive com sua mãe, pai e irmãs no campo, na Inglaterra. Por ser uma das filhas mais velhas, ela enfrenta uma crescente pressão de seus pais para se casar. 
        Quando Elizabeth é apresentada ao belo e rico Darcy, faíscas voam. Embora haja uma química óbvia entre os dois, a natureza excessivamente reservada de Darcy ameaça a relação.</p>
    </div>




    <div class="book">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdM-Bmu6nAQgiUrfFZEQ01PEsKd_X_ZcPFXw&s" width="150px", height="200px" alt="Capa do Livro 10">
      <h2>Torto Arado</h2>
      <p>Nas profundezas do sertão baiano, as irmãs Bibiana e Belonísia encontram uma velha e misteriosa faca na mala guardada sob a cama da avó.
        Ocorre então um acidente. E para sempre suas vidas estarão ligadas ― a ponto de uma precisar ser a voz da outra.
        Numa trama conduzida com maestria e com uma prosa melodiosa, o romance conta uma história de vida e morte, de combate e redenção.</p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/81rSPlvS0hL._SL1500_.jpg" width="150px", height="200px" alt="Capa do Livro 11">
        <h2>Divergente</h2>
        <p>Na futurística cidade de Chicago, ao completar 16 anos, Beatrice precisa escolher entre as diferentes facções em que a cidade está dividida. Cada uma representa um valor diferente e,
           ao contrário de sua família, a jovem opta pela facção dos destemidos, a Audácia. Ela então se torna Tris e inicia uma jornada para afastar seus medos e descobrir quem realmente é. 
           Durante essa jornada, acaba conhecendo o jovem Quatro, um rapaz experiente que tem o dom de intrigá-la e de encantá-la ao mesmo tempo.</p>
    </div>


   
    <div class="book">
        <img src="https://m.media-amazon.com/images/I/91r5G8RxqfL._SY425_.jpg" width="150px", height="200px" alt="Capa do Livro 12">
        <h2>É Assim que Acaba</h2>
        <p>Lily Bloom decide começar uma nova vida em Boston e tentar abrir o seu próprio negócio. Como consequência de sua mudança de vida, Lily acredita que encontrou o amor verdadeiro com 
          Ryle, um charmoso neurocirurgião. No entanto, as coisas se complicam quando um incidente doloroso desencadeia um trauma do passado e também, quando seu primeiro amor reaparece.</p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/51A19icLe6L._SY445_SX342_.jpg" width="150px", height="200px" alt="Capa do Livro 13">
        <h2>Fogo e Sangue</h2>
        <p>Séculos antes dos eventos de A guerra dos tronos, a Casa Targaryen - única família de senhores dos dragões a sobreviver à Destruição de Valíria - tomou residência em Pedra do Dragão.
           A história de Fogo & Sangue começa com o lendário Aegon, o Conquistador, criador do Trono de Ferro, e segue narrando as gerações de Targaryen que lutaram para manter o assento, até 
           a guerra civil que quase destruiu sua dinastia.
          O que realmente aconteceu durante a Dança dos Dragões? Por que era tão perigoso visitar Valíria depois da Destruição? Quais foram os piores crimes de Maegor, o Cruel? 
          Essas são algumas das questões respondidas neste livro essencial, relatadas por um sábio meistre da Cidadela.</p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/8129HX+5JGL._SY425_.jpg" width="150px", height="200px" alt="Capa do Livro 14">
        <h2>Heartstopper</h2>
        <p>O primeiro livro conta a história de dois estudantes, Charlie Spring e Nick Nelson. Charlie, gay assumido, sofre com o bullying na escola. Nick, por sua vez, é bastante popular, 
          especialmente por ser um excelente jogador de rugby.
          Nesse volume, é narrado como Nick e Charlie se conheceram. Em um dado momento, ambos passam a conviver mais tempo um com o outro e surge uma forte amizade.
          Charlie se sente inseguro ao saber que está nutrindo um amor por um rapaz heterossexual. Nick, por sua vez, está em dúvida sobre seus sentimentos.</p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/816Udvs9O7L._SY425_.jpg" width="150px", height="200px" alt="Capa do Livro 15">
        <h2>Tudo é Rio </h2>
        <p>Com uma narrativa madura, precisa e ao mesmo tempo delicada e poética, o romance narra a história do casal Dalva e Venâncio, que tem a vida transformada após uma perda trágica, 
          resultado do ciúme doentio do marido, e de Lucy, a prostituta mais depravada e cobiçada da cidade, que entra no caminho deles, formando um triângulo amoroso.</p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/810FrINgfYS._SY425_.jpg" width="150px", height="200px" alt="Capa do Livro 16">
        <h2>After</h2>
        <p>Tessa Young é uma jovem com uma vida simples, ótimas notas na escola, muitos amigos e um bom namorado. Todos os próximos passos de sua vida já estão planejados, mas as coisas mudam
           quando ela conhece um homem atraente e cheio de segredos sombrios.</p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/51M9IbBqxCL._SY425_.jpg" width="150px", height="200px" alt="Capa do Livro 17">
        <h2>A Culpa é das Estrelas </h2>
        <p>Hazel Grace Lancaster e Augustus Waters são dois adolescentes que se conhecem em um grupo de apoio para pacientes com câncer. 
          Por causa da doença, Hazel sempre descartou a ideia de se envolver amorosamente, mas acaba cedendo ao se apaixonar por Augustus. Juntos, eles viajam para Amsterdã, onde embarcam 
          em uma jornada inesquecível.
        </p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/81N-AZ1kWWL._SY425_.jpg" width="150px", height="200px" alt="Capa do Livro 18">
        <h2>O Oitavo Vilarejo </h2>
        <p>Durante a quaresma, coisas muito estranhas começam a acontecer na região e seres fantásticos do folclore - como a Mula Sem Cabeça, o Boitatá e a Cuca -, 
          ganham vida e começam a assombrar os habitantes dos Sete Vilarejos.
           </p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/91eSOZIrPlL._SY425_.jpg" width="150px", height="200px" alt="Capa do Livro 19">
        <h2>Água para Elefantes</h2>
        <p>Um estudante de veterinária abandona os estudos após a morte dos pais. Ele passa a acompanhar um circo itinerante, trabalhando como veterinário dos animais, e acaba se apaixonando 
          por uma acrobata.</p>
    </div>


    <div class="book">
        <img src="https://m.media-amazon.com/images/I/81Q11TuUR3L._SY425_.jpg" width="150px", height="200px" alt="Capa do Livro 20">
        <h2>A Cinco Passos de Você</h2>
        <p>Stella Grant gosta de estar no controle. Ela parece ser uma adolescente típica, mas em sua rotina há listas de tarefas e inúmeros remédios que ela deve tomar para controlar a fibrose cística, uma doença crônica que impede que seus pulmões funcionem como deveriam.
            Suas prioridades são manter seus pais felizes e conseguir um transplante e uma coisa não existe sem a outra. No Hospital, ela conhece Will, que sofre da mesma doença. Eles são obrigados a manter distância, mas mesmo assim se apaixonam.</p>
    </div>

    <div class="book">
      <img src="https://marketplace.canva.com/EAE6PMW8esk/1/0/1003w/canva-capa-de-livro-vermelho-e-preto-contorno-romance-chick-lit-5cdERsfaKTY.jpg" width="150px", height="200px" alt="Capa do Livro 21">
      <h2>Antes que Você Diga Adeus</h2>
      <p>Quando Nell MacDermott é surpreendida com a notícia da morte do marido, o arquiteto Adam Cauliff, tristeza e choque somam-se a uma terrível culpa. Antes de Adam embarcar no iate, 
        que explodiu e lhe tirou a vida, os dois haviam tido uma séria discussão. O rapaz não aceitava a decisão dela em concorrer à cadeira do Senado que seu avô ocupara por décadas. No entanto,
         as investigações apontam que o incidente foi causado por uma bomba, e surgem evidências de que Adam estaria envolvido em negociatas, especulação imobiliária e fraude. Assim, a polícia 
         passa a desconfiar que o acontecimento tenha sido motivado por vingança. Mas Nell está determinada a limpar o nome do marido, acreditando na honestidade dele, e receosa de sua futura 
         carreira política ser afetada pelos rumores. Engajada na busca pela verdade, Nell tentará de toda forma esclarecer o passado de Adam e seu trágico fim. Para isso, decide consultar uma 
         médium que alega se comunicar com o falecido. Instigada pela paranormal, por um novo homem que surge em sua vida e pelos próprios poderes psíquicos, que sempre tentou ignorar, 
         Nell descobre mais do que gostaria de saber. Agora sua vida está em risco por uma conspiração que acabou de desvendar.</p>
    </div>

    <div class="book">
      <img src="https://www.martinclaret.com.br/wp-content/uploads/2017/04/81EoqRgtXKL.jpg" width="150px", height="200px" alt="Capa do Livro 22">
      <h2>Memórias Póstumas de Brás Cubas</h2>
      <p>Após ter morrido, em pleno ano de 1869, Brás Cubas decide por narrar sua história e revisitar os fatos mais importantes de sua vida, a fim de se distrair na eternidade. 
        A partir de então ele relembra de amigos como Quincas Borba, de sua displicente formação acadêmica em Portugal, dos amores de sua vida e ainda do privilégio que teve de nunca ter 
        precisado trabalhar em sua vida.</p>
    </div>
    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/71SYepTUsDL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 23">
      <h2>Vermelho, Branco e Sangue Azul</h2>
      <p>Alex, o filho da presidenta dos Estados Unidos, se envolve em uma confusão com o príncipe britânico Henry, o que gera uma crise internacional de imagem. Os dois são grandes rivais, 
        mas fingem que são amigos pelo bem de seus países. Porém, essa relação fria começa a derreter e dá lugar a um sentimento intenso e novo para os dois.</p>
    </div>
    
    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/61LAn9lmG7L._AC_UF350,350_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 24">
      <h2>O Ódio que você semeia</h2>
      <p>Starr Carter é uma adolescente negra que presencia o assassinato de Khalil, seu melhor amigo, por um policial branco. Ela é forçada a testemunhar no tribunal por ser a única pessoa
         presente na cena do crime. Mesmo sofrendo uma série de chantagens, ela está disposta a dizer a verdade pela honra de seu amigo, custe o que custar.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/617NtrcM3nL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 25">
      <h2>Clube da Luta</h2>
      <p>Um homem deprimido que sofre de insônia conhece um estranho vendedor chamado Tyler Durden e se vê morando em uma casa suja depois que seu perfeito apartamento é destruído. 
        A dupla forma um clube com regras rígidas onde homens lutam. A parceria perfeita é comprometida quando uma mulher, Marla, atrai a atenção de Tyler.</p>
    </div>
    
    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/71jrp43TCcL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 26">
      <h2>Pessoas Normais</h2>
      <p>Uma história única e envolvente sobre dois jovens que devem enfrentar a eletricidade do primeiro amor em meio às sutilezas das classes sociais e dos problemas familiares.
        Sally Rooney é a voz da geração millennial. Na escola, no interior da Irlanda, Connell e Marianne fingem não se conhecer.</p>
    </div>
    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/61UHNHKpj+L._SY466_.jpg" width="150px", height="200px" alt="Capa do Livro 27">
      <h2>Um Milhão de Finais Felizes</h2>
      <p>Jonas não sabe muito bem o que fazer da vida. Entre suas leituras e ideias para livros anotadas em um caderninho de bolso, ele precisa dar conta de seus turnos no Rocket Café e ainda
         lidar com o conservadorismo de seus pais. Sua mãe alimenta a esperança de que ele volte a frequentar a igreja, e seu pai não faz muito por ele além de trazer problemas.
          Mas é quando conhece Arthur, um belo garoto de barba ruiva, que Jonas passa a questionar por quanto tempo conseguirá viver sob as expectativas de seus pais, 
          fingindo ser uma pessoa diferente de quem é de verdade. Buscando conforto em seus amigos (e na sua história sobre dois piratas bonitões que se parecem muito com ele e Arthur), 
          Jonas entenderá o verdadeiro significado de família e amizade, e descobrirá o poder de uma boa história.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/51KuCZ6R-yL._SY580_.jpg" width="150px", height="200px" alt="Capa do Livro 28">
      <h2>Território Lovecraft</h2>
      <p>Nos Estados Unidos segregados da década de 1950, Atticus é um rapaz negro, veterano da Guerra da Coreia, fã de H. P. Lovecraft e outros escritores de pulp fiction . 
        Ao descobrir que o pai desapareceu, ele volta à cidade natal para, com o tio e a amiga, partir em uma missão de resgate. Na viagem até a mansão do herdeiro da propriedade que mantinha
         um dos ancestrais de Atticus escravizado, o grupo enfrentará sociedades secretas, rituais sanguinolentos e o preconceito de todos os dias.

        Ao chegar, Atticus encontra seu pai acorrentado, mantido prisioneiro por uma confraria secreta, que orquestra um ritual cujo personagem principal é o próprio Atticus. 
        A única esperança de salvação do jovem, no entanto, pode ser a semente de sua destruição ― e de toda a sua família.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/81iqH8dpjuL._SY466_.jpg" width="150px", height="200px" alt="Capa do Livro 29">
      <h2>A Biblioteca da Meia-Noite</h2>
      <p>Aos 35 anos, Nora Seed é uma mulher cheia de talentos e poucas conquistas. Arrependida das escolhas que fez no passado, ela vive se perguntando o que poderia ter acontecido caso 
        tivesse vivido de maneira diferente. Após ser demitida e seu gato ser atropelado, Nora vê pouco sentido em sua existência e decide colocar um ponto final em tudo. Porém, 
        quando se vê na Biblioteca da Meia-Noite, Nora ganha uma oportunidade única de viver todas as vidas que poderia ter vivido.

        Neste lugar entre a vida e a morte, e graças à ajuda de uma velha amiga, Nora pode, finalmente, se mudar para a Austrália, reatar relacionamentos antigos – ou começar outros –, 
        ser uma estrela do rock, uma glaciologista, uma nadadora olímpica... enfim, as opções são infinitas. Mas será que alguma dessas outras vidas é realmente melhor do que a que ela já tem?</p>
    </div>

    
    <div class="book">
      <img src="https://static.wikia.nocookie.net/cortedeespinhoserosas/images/6/65/CER_capa_01.jpg/revision/latest?cb=20190717224615&path-prefix=pt-br" width="150px", height="200px" alt="Capa do Livro 30">
      <h2>Corte de Espinhos e Rosas</h2>
      <p>Num mundo dividido uma muralha mágica separa duas espécies. De um lado, os feéricos vivem dentro de suas fronteiras cheias de beleza e mistério; do outro, os humanos possuem apenas medo,
         desconfiança e dificuldades.

        Feyre, filha de um casal de mercadores humanos e falidos, se torna caçadora para sustentar a família. Dura como as flechas que carrega, letal como sua pontaria, ela abandona as fantasias
         de garota e as troca pela árdua vida nas florestas ao redor de sua aldeia.
        
        Sua única alegria é observar as cores e sonhar em capturá-las. Mas, na floresta, coberta de neve tudo é branco e árido; como o ódio pelos feéricos que carrega no coração; 
        Como as telas que não pode comprar ou colorir. Até que um enorme lobo cruza seu caminho... Sem hesitar, Feyre dispara... uma flecha. Um ato de rebelião.
        
        Após matar o lobo, uma criatura bestial surge exigindo uma reparação. Arrastada para além do muro, para uma terra mágica e traiçoeira - que ela só conhece por meio de lendas -, 
        a jovem descobre que seu captor não é um animal, mas Tamlin, Grão Senhor da Terra Primaveril. Um feérico com um segredo, escondido sob uma máscara.  Ela descobre ainda que o então animal
         que havia assassinado era, na verdade, uma criatura mágica, uma fada zoomórfica transformada em lobo.
        
        À medida que ela descobre mais sobre este mundo onde a magia impera, seus sentimentos por Tamlin passam da mais pura hostilidade até uma paixão avassaladora. Enquanto isso, uma sinistra
         e antiga sombra avança sobre o mund­­o das fadas e Feyre deve provar seu amor para detê-la ou Tamlin e seu povo estarão condenados.</p>
    </div>

    
    <div class="book">
      <img src="https://cdn.record.com.br/wp-content/uploads/2020/08/25155351/12825-600x890.jpeg" width="150px", height="200px" alt="Capa do Livro 31">
      <h2>Trono de Vidro</h2>
      <p>Nas sombrias e sujas minas de sal de Endovier, um jovem de 18 anos está cumprindo sua sentença. Celaena é uma assassina, e a melhor de Adarlan. Aprisionada e fraca, 
        ela está quase perdendo as esperanças quando recebe uma proposta. Terá de volta sua liberdade se representar o príncipe de Adarlan em uma competição, lutando contra os mais habilidosos
         assassinos e larápios do reino. Endovier é uma sentença de morte, e cada duelo em Adarlan será para viver ou morrer. Mas se o preço é ser livre, ela está disposta a tudo.</p>
    </div>

    <div class="book">
      <img src="https://cdl-static.s3-sa-east-1.amazonaws.com/covers/gg/9788565765695/a-rainha-vermelha.jpg" width="150px", height="200px" alt="Capa do Livro 32">
      <h2>A Rainha Vermelha</h2>
      <p>O mundo de Mare Barrow é dividido pelo sangue: vermelho ou prateado. Mare e sua família são vermelhos: plebeus, humildes, destinados a servir uma elite prateada cujos poderes
         sobrenaturais os tornam quase deuses. Mare rouba o que pode para ajudar sua família a sobreviver e não tem esperanças de escapar do vilarejo miserável onde mora. Entretanto, 
         numa reviravolta do destino, ela consegue um emprego no palácio real, onde, em frente ao rei e a toda a nobreza, descobre que tem um poder misterioso… Mas como isso seria possível, 
         se seu sangue é vermelho? Em meio às intrigas dos nobres prateados, as ações da garota vão desencadear uma dança violenta e fatal, que colocará príncipe contra príncipe - e Mare contra
          seu próprio coração.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/81SPvywH9sL._SY466_.jpg" width="150px", height="200px" alt="Capa do Livro 33">
      <h2>Duna</h2>
      <p>A vida do jovem Paul Atreides está prestes a mudar radicalmente. Após a visita de uma mulher misteriosa, ele é obrigado a deixar seu planeta natal para sobreviver ao ambiente árido
         e severo de Arrakis, o Planeta Deserto. Envolvido numa intrincada teia política e religiosa, Paul divide-se entre as obrigações de herdeiro e seu treinamento nas doutrinas secretas de
          uma antiga irmandade, que vê nele a esperança de realização de um plano urdido há séculos. Ecos de profecias ancestrais também o cercam entre os nativos de Arrakis. Seria ele o eleito
           que tornaria viáveis seus sonhos e planos ocultos?
        Ao lado das trilogias ‘Fundação’, de Isaac Asimov, e ‘O Senhor dos Anéis’, de J. R. R. Tolkien, ‘Duna’ é considerada uma das maiores obras de fantasia e ficção científica de todos os
         tempos. Um premiado best-seller já levado às telas de cinema pelas mãos do consagrado diretor David Lynch</p>
    </div>

    
    <div class="book">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWqiFktu2UpMJAh6VKWib0vuEAX89O-x7cuQ&s" width="150px", height="200px" alt="Capa do Livro 34">
      <h2>O Duque e Eu</h2>
      <p>Simon Basset, o irresistível duque de Hastings, acaba de retornar a Londres depois de seis anos viajando pelo mundo. Rico, bonito e solteiro, ele é um prato cheio para as mães da alta
         sociedade, que só pensam em arrumar um bom partido para suas filhas.

        Simon, porém, tem o firme propósito de nunca se casar. Assim, para se livrar das garras dessas mulheres, precisa de um plano infalível.
        
        É quando entra em cena Daphne Bridgerton, a irmã mais nova de seu melhor amigo. Apesar de espirituosa e dona de uma personalidade marcante, todos os homens que se interessam por ela 
        são velhos demais, pouco inteligentes ou destituídos de qualquer tipo de charme. E os que têm potencial para ser bons maridos só a veem como uma boa amiga.
        
        A ideia de Simon é fingir que a corteja. Dessa forma, de uma tacada só, ele conseguirá afastar as jovens obcecadas por um marido e atrairá vários pretendentes para Daphne. Afinal, 
        se um duque está interessado nela, a jovem deve ter mais atrativos do que aparenta.
        
        Mas, à medida que a farsa dos dois se desenrola, o sorriso malicioso e os olhos cheios de desejo de Simon tornam cada vez mais difícil para Daphne lembrar que tudo não passa de 
        fingimento. Agora, ela precisa fazer o impossível para não se apaixonar por esse conquistador inveterado que tem aversão a tudo o que ela mais quer na vida.</p>
    </div>

    
    <div class="book">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2Miwdh7fHNBVvja2Jyliv5QrVpL4BJGPE_g&s" width="150px", height="200px" alt="Capa do Livro 35">
      <h2>Frankenstein</h2>
      <p>Obcecado pela morte, dr. Viktor Frankenstein cria um método para dar vida a uma criatura feita de partes de vários cadáveres. 
        Mas, ao ver o aspecto horripilante de sua invenção, ele não suporta a responsabilidade de seu feito e foge. Sozinho, o monstro tenta se aproximar das pessoas em vão. 
        Confrontando um cientista ambicioso com um ser que luta para encontrar seu lugar no mundo, o livro é mais que uma história de terror. É uma reflexão sobre a condição humana.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/91CmC6MtLsL._SY466_.jpg" width="150px", height="200px" alt="Capa do Livro 36">
      <h2>Império do Vampiro</h2>
      <p>Já se passaram 27 longos anos desde o último nascer do sol. Por quase três décadas, os vampiros travaram uma guerra contra a humanidade; construindo seu império eterno ao mesmo tempo 
        em que destruíam o nosso. Agora, apenas algumas pequenas faíscas de luz perduram em um mar de escuridão. Gabriel de León, metade humano e metade monstro, é o último Santo de Prata – 
        membro de uma sagrada irmandade dedicada a defender o reino das criaturas da noite –, e ele é também tudo o que resta entre o mundo e seu fim. Aprisionado pelos monstros que jurou 
        destruir, Gabriel de Léon é forçado a contar a própria história. Uma história de batalhas lendárias e amor proibido, de fé perdida e amizades conquistadas, do Rei Eterno e da busca pela
         última esperança remanescente da humanidade: o Santo Graal. Império do vampiro é o primeiro volume da aguardada série de fantasia dark de Jay Kristoff. Ricamente ilustrada pela artista
          Bon Orthwick, esta história épica chega para marcar as narrativas do gênero para todo o sempre.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/81Ph4QRq1gL._SY466_.jpg" width="150px", height="200px" alt="Capa do Livro 37">
      <h2>O Grande Gatsby</h2>
      <p>Jay Gatsby, o anfitrião milionário de monumentais festas em sua mansão, suscita muita desconfiança em seus convidados no que diz respeito à origem de sua fortuna,
         obtida após sua participação na Primeira Guerra Mundial. Gatsby é apaixonado há anos por Daisy, uma aristocrata casada com o astro esportivo Tom Buchanan, e prima de Nick Carraway,
          um corretor de títulos que vive em Long Island, em uma casa vizinha à do protagonista. Ao ser enfim convidado para uma das festas da Gatsy, Nick se torna seu amigo e, por meio dessa 
          relação, Gatsy busca se aproximar de Daisy na esperança de reatar o velho romance, agora que se tornou um homem rico e capaz de impressioná-la. O triângulo amoroso entre Daisy, Gatsy
           e Tom começa a ganhar ares de tensão até que culmina em uma sucessão de tragédias, revelando a verdadeira face dos personagens e da sociedade aristocrata norte-americana da década de
            1920, marcada pela busca pelo glamour e pelo materialismo desenfreado. Escrito pelo célebre autor americano F. Scott Fitzgerald, O grande Gatsby é considerado uma das melhores obras 
            literárias do século XX.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/71AeB1+8dZL._SY466_.jpg" width="150px", height="200px" alt="Capa do Livro 38">
      <h2>Jantar Secreto</h2>
      <p>Um grupo de jovens deixa uma pequena cidade no Paraná para viver no Rio de Janeiro. Eles alugam um apartamento em Copacabana e fazem o possível para pagar a faculdade e manter 
        vivos seus sonhos de sucesso na capital fluminense. Mas o dinheiro está curto e o aluguel está vencido. Para sair do buraco e manter o apartamento, os amigos adotam uma estratégia 
        heterodoxa: arrecadar fundos por meio de jantares secretos, divulgados pela internet para uma clientela exclusiva da elite carioca.
        A partir daí, eles se envolvem em uma espiral de crimes, descobrem uma rede de contrabando de corpos, matadouros clandestinos e grã-finos excêntricos, e levam ao limite uma índole 
        perversa que jamais imaginaram existir em cada um deles.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/51OYESeM8eL._SY466_.jpg" width="150px", height="200px" alt="Capa do Livro 39">
      <h2>Quinze Dias</h2>
      <p>Felipe está esperando por esse momento desde que as aulas começaram: o início das férias de julho. Finalmente ele vai poder passar alguns dias longe da escola e dos colegas que o 
        maltratam. Os planos envolvem se afundar nos episódios atrasados de suas séries favoritas, colocar a leitura em dia e aprender com tutoriais no YouTube coisas novas que ele nunca vai 
        colocar em prática. Mas as coisas fogem um pouco do controle quando a mãe de Felipe informa que concordou em hospedar Caio, o vizinho do 57, por longos quinze dias, enquanto os pais dele
         estão viajando. Felipe entra em desespero porque a) Caio foi sua primeira paixãozinha na infância (e existe uma grande possibilidade dessa paixão não ter passado até hoje) e b) Felipe 
         coleciona uma lista infinita de inseguranças e não tem a menor ideia de como interagir com o vizinho. Os dias que prometiam paz, tranquilidade e maratonas épicas de Netflix acabam 
         trazendo um turbilhão de sentimentos, que obrigarão Felipe a mergulhar em todas as questões mal resolvidas que ele tem consigo mesmo.</p>
    </div>

    
    <div class="book">
      <img src="https://m.media-amazon.com/images/I/81t7altQZxL._AC_UF1000,1000_QL80_.jpg" width="150px", height="200px" alt="Capa do Livro 40">
      <h2>Capitães de Areia</h2>
      <p>Desde o seu lançamento, em 1937, Capitães da Areia causou escândalo: inúmeros exemplares do livro foram queimados em praça pública, por determinação do Estado Novo.
         Ao longo de sete décadas a narrativa não perdeu viço nem atualidade, pelo contrário: a vida urbana dos meninos pobres e infratores ganhou contornos trágicos e urgentes. 
         Várias gerações de brasileiros sofreram o impacto e a sedução desses meninos que moram num trapiche abandonado no areal do cais de Salvador, vivendo à margem das convenções sociais. 
         Verdadeiro romance de formação, o livro nos torna íntimos de suas pequenas criaturas, cada uma delas com suas carências e suas ambições: do líder Pedro Bala ao religioso Pirulito, do 
         ressentido e cruel Sem-Pernas ao aprendiz de cafetão Gato, do sensato Professor ao rústico sertanejo Volta Seca. Com a força envolvente da sua prosa, Jorge Amado nos aproxima desses 
         garotos e nos contagia com seu intenso desejo de liberdade.</p>
    </div>
  </div>


</body>
</html>