<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Scriptum</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/index.css'>
    <link rel='icon' type="image/icon" href="../view/S.png">
    <script src='../js/index.js'></script>
</head>

    <body>
    <div class="first-background">
    <header>
        <div id="title">
            <h1>Scriptum: </h1>
            <h1>Universo da leitura</h1>
        </div>

        <ul>
            <a href="../view/cadastro_user.html"><li> Cadastre-se </li></a>
            <a href="../view/login.html" id="inscreva-se-btn"> <li> Já tem uma conta?</li></a>
        </ul>
        <div id= "logo">
            <h1><a href = " "><img class = "canto" src = "S.png"> </a> </h1>
        </div>

    </header>
    <main>
        <aside>
            <h2><span>Cadastre-se agora</span></h2>
            <h2>no Scriptum</h2>
            <p>O Scriptum como uma biblioteca virtual veio para disponibilizar livros gratuitos, garantindo acesso a cultura para a geração de jovens do mundo atual!</p>
        </aside>

        <article>
            <a href=" "><img src="SCRIPTUM-logo.png" alt="Logo" width="600px", height="600px", class="responsive"></a>
        </article>
    </main>
    </div>
    <div class="second-background">


        <div class = "texto_second">
            <br><h4>Uma biblioteca, na definição tradicional do termo, é um local em que são guardados livros, documentos tridimensionais,
            e demais publicações para o público estudar, ler, e consultar tais obras.</h4>

            <div class="minha-bibli">
                <a href=" "></a><img src="../view/logo.avif", class="responsive"></a>
                      
             <br> <strong>Desta forma</strong>, os três objetivos das bibliotecas são:
            <ol>
                <li>A guarda dos livros e demais publicações em local livre de perigo, onde não sejam roubados, incendiados e demais perigos;</li>
                <li>A conservação, que não sejam estragados porque o público manuseia constantemente as obras, ou porque os documentos ficam úmidos,
                quentes e ou em situações similares;</li>
                <li>A organização segundo algumas regras para catalogar e arquivar as obras impressas, com intuito
                de que seja possível de
                se encontrarem de maneira imediata por meio de classificações como autor, assunto, ou diferente caraterística de importância.</li>
            </ol>
            </div>

            <h3>Confira alguns de nossos títulos:</h3>    
      
            <div id="ladoalado">
               
                <img src="AntesQueVoceDigaAdeus.png" width="10%", class="cat" >
                <img src="TortoArado.jpg" width="10%", class="cat">
                <img src="VermelhoBrancoESangueAzul.jpg" width="10%", class="cat">
                <img src="AMeninaQueRoubavaLivros.jpg" width="10%", class="cat">  
                <img src="MilBeijosdeGaroto.jpg" width="10%", class="cat">  
                <img src="Pride&Prejudice.jpg" width="10%", class="cat">  
                <img src="BrasCubas.jpg" width="10%", class="cat">  
                <img src="1984.jpg" width="10%", class="cat">    
                <img src="Heartstoppr.jpg" width="10%", class="cat">  
                <img src="TudoeRio.jpg" width="10%", class="cat">  
                <a href='login.html' id="verMais">Ver mais</a>    
            <br>
            <br>
            <br>
            </div>
       
        </div>
    </div>
   
       
        </body>
   
</html>
