<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Atualização de Endereço</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/update.css'>
    <link rel='icon' type="image/icon" href="../view/S.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <script defer src='../js/update.js'></script>
</head>

<body>
    <section class="form-container"></section>
    <div class="container">
        <div class="form">
            <h1>Atualize o seu endereço:</h1>

            <div class = "input-single">
                <label for="title">Nome do lugar: </label>
                <input type="text" name="title" id="title" class = "input"/><br><br>
            </div>    

            <div class = "input-single">
                <label for="title">Cep: </label>
                <input type="text" name="cep" id="cep" class = "input"/><br><br>
            </div>    

            <div class = "input-single">
                <label for="title">Endereço: </label>
                <input type="text" name="address" id="address" class = "input"/><br><br>
            </div>    

            <div class = "input-single">
                <label for="title">Número: </label>
                <input type="text" name="number" id="number" class = "input"/><br><br>
            </div>    

            <div class = "input-single">
                <label for="title">Complemento: </label>
                <input type="text" name="complement" id="complement" class = "input"/><br><br>
            </div>    

            <button id="button-update" onClick="updateEndereco()"> Atualizar</button>
        </div>
</body>

</html>